.global{
    display: flex;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom:0;
    z-index: 999999999999999;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.5);
    
}
.close{
    position: absolute;
    top: 7%;
    right: 10%;
    cursor: pointer;
}
.form{
    position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form h1{
    margin-bottom: 5%;
}

.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: black;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }
  .form button:hover,.form button:active,.form button:focus {
    background: #3f3f3f;
  }
  .form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }
  .error {	
    opacity:0.5;
    
      /* also need animation and -moz-animation */
    -webkit-animation: shake .5s linear;
    -moz-animation:shake .5s linear;
  }
  /* also need keyframes and -moz-keyframes */
    @keyframes shake {
      8%, 41% {
          -webkit-transform: translateX(-10px);
      }
      25%, 58% {
          -webkit-transform: translateX(10px);
      }
      75% {
          -webkit-transform: translateX(-5px);
      }
      92% {
          -webkit-transform: translateX(5px);
      }
      0%, 100% {
          -webkit-transform: translateX(0);
      }
    
  }
   @-webkit-keyframes shake {
      8%, 41% {
          -webkit-transform: translateX(-10px);
      }
      25%, 58% {
          -webkit-transform: translateX(10px);
      }
      75% {
          -webkit-transform: translateX(-5px);
      }
      92% {
          -webkit-transform: translateX(5px);
      }
      0%, 100% {
          -webkit-transform: translateX(0);
      }
    
  }
   @-moz-keyframes shake {
      8%, 41% {
          -webkit-transform: translateX(-10px);
      }
      25%, 58% {
          -webkit-transform: translateX(10px);
      }
      75% {
          -webkit-transform: translateX(-5px);
      }
      92% {
          -webkit-transform: translateX(5px);
      }
      0%, 100% {
          -webkit-transform: translateX(0);
      }
    
  }


