 .ava{
    width:150px;
    height: 150px;
    padding: 20px;
    float: left;
}

 .info {padding-top: 60px;
  margin: 0 0 1em 0;
}

textarea{
   
    resize:none;border-radius:5px;width:40%;
}
.thx{
  text-align: center;
  font-size: 2em;
  margin-top: 7%;
}
@media screen and (max-width: 950px){
     .ava{
        width:100px;
        height: 100px;
        padding: 20px;
        float: left;
    }
   
      
        
        textarea{
   
          width:97%;
        }
        p {padding-top: 20px;
            margin: 0 0 1em 0;
          }
          h1{font-size:20px;}
}